<html>
<body>
  <div>
    '<p>안녕하세요! 현재 pClass에서 진행 중인 프로젝트에 초대되셨습니다.</p>'+
    '<p>프로젝트에 참여하시려면 아래 링크에서 인증번호를 입력해주세요.</p>' +
    '<a href="http://localhost:4000/api/:subId/:projectId:/auth/invite=${inviteToken}">참여하기</a>' +
    '<p><b>인증코드: ${authCode}</b></p>'
  </div>
</body>
</html>